.hero{
    background-color: black;
    color: azure;
}
ul{
    font-size: 40px;
}
h1{
    font-size: 70px;
    color: cyan;
    text-shadow: 2px 3px 7px cyan;
}
body{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 10px 30px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 10px 30px;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: white;
}