body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
     color: black;
    background-color: cyan;
    cursor: pointer;
    padding: 30px 90px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 10px cyan;
    font-size: 40px;
}
button:hover{
    background-color: blue;
    size: 30px;
    padding: 35px 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 10px cyan;
    gap: 30px;
}
.square{
    width: 1580px;
    height: 10px;
    background-color: cyan;
}
.hero{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 10px 30px;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 10px 30px;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: wheat;
}
.fl{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
}
.GTAV{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
}
.MINECRAFT{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
}
.navbar h1{
    text-shadow: 3px 3px 5px cyan;
    font-family: inherit;
    outline: 3px;
}
.hero h1{
    text-shadow: 3px 3px purple;
    font-family: monospace;
    font-size: 60px;
}
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .navbar{
        flex-wrap: wrap;
        gap: 10px;
    }
    .hero{
        grid-template-columns: 1fr;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    button{
        max-width: 90%;
    }
    .square{
        max-width: 70%;
        height: auto;
    }
}

