body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
     color: black;
    background-color: cyan;
    cursor: pointer;
    padding: 30px 90px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 10px cyan;
    font-size: 40px;
}
button:hover{
    background-color: blue;
    size: 30px;
    padding: 35px 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 10px cyan;
}
.square{
    width: 1580px;
    height: 10px;
    background-color: cyan;
}
.hero{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}